@main("Lista de disciplinas") {

Insira disciplina: 
<form method="POST" action="@routes.Application.mostraDisciplinasBuscadas()">

		<input type="text" name="nome">

		<input type="submit" value="Enviar">

</form>
<form method="POST" action="@routes.Application.mostraDisciplinasUsuario()">

		<input type="submit" value="Minhas disciplinas">

</form>
<form method="POST" action="@routes.Application.mostraTodasDisciplinas()">

		<input type="submit" value="Mostrar disciplinas">

</form>
}
