@(message: String)

@main("Lista de disciplinas") { 
    <div class="row"> 
        <div class="col-lg-12"> 
            <h1 ld="forms">Banco de disciplinas</h1> 
            <h3>Resultado da busca</h3>
        </div> 
    
    </div> 
@Html(message)

}