@main("Semestre ideal") {

<form method="POST" action="@routes.Application.verificaLogin()">
        Bem-vindo ao Semestre Ideal!
        <div><input type="text" name="username"></div>
        <div><input type="text" name="password"></div>
		<div><input type="submit" value="Login" name="banana"></div>

</form>
<form method="POST" action="@routes.Application.criaUsuario()">
        Cadastre-se:
        <div><input type="text" name="username"></div>
        <div><input type="text" name="password"></div>
		<div><input type="submit" value="Criar!"></div>

</form>
}
