@(message: String)

@main("Lista de disciplinas") { 
    <div class="row"> 
        <div class="col-lg-12"> 
            <h1 ld="forms">Suas disciplinas</h1>
        </div> 
    
    </div> 
@Html(message)

}