@main("Usuário já existente") {
    Usuário já existente. Favor fazer login.
    <form method="POST" action="@routes.Application.login()">
    <div><input type="submit" value="Voltar"></div>
    </form>

}
